body {
}

.starsBG {
    margin: 0,auto;
    width: 100%;
    height: 100%;
    background: url(../assets/image/sky.jpg) center center no-repeat;
    background-size: cover;
    position: fixed;
    overflow: auto;
}

.section01 {
    margin: 0,auto;
    width: 100%;
    height: 100%;
    background: url(../assets/image/sky.jpg) center center no-repeat;
    background-size: cover;
    position: fixed;
    overflow: auto;
}

.house {
    align-self: center;
    padding-top: 500px;
}

.container-house-left {
    width: 60%;
    background-color: grey;
    margin-left: 100px;
}

.container-house-right {
    width: 11%;
    background-color: grey;
    margin-left: 100px;
}

.container-tower {
    background-image: url("../assets/image/towerBG.jpg");
    width: 10%;
    height: 100%;
    background-size: cover;
}


.window-gif {
    margin-bottom: 32px;
    width: 100%;
    height: 100%;
}

.window-outside {
    background-image: url("../assets/image/windowBG.png");
    background-size: cover;
    padding: 0px;
    margin: 16px;
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#header, #intro, #second {
    width: 100%;
}

#intro {
    background: url(../assets/image/sky.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 600px;
    margin: 0 auto;
    padding: 0;
}

#second {
    background: url(../assets/image/sky.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

    #second .bg {
        background: url(../assets/image/section02_text.png) 50% 0 no-repeat fixed;
        height: 1300px;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        width: 900px;
        z-index: 200;
    }

#third {
    background: url(images/thirdBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 650px;
    padding: 100px 0 0 0;
}

.story {
    margin: 0 auto;
    min-width: 980px;
    overflow: auto;
    width: 980px;
}

    .story .float-left, .story .float-right {
        padding: 100px 0 0 0;
        position: relative;
        width: 350px;
    }



/* Common styles
	* --------------------------------------- */
img {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}

.section {
    position: relative;
    text-align: center;
    width:100%;
    height:100%;
    overflow:hidden;
}

.wrap {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: auto;
    position: relative;
}

.box {
    text-align: left;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
}

body {
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}


/* Style for our header texts
	* --------------------------------------- */
h1 {
    font-size: 5em;
    font-family: arial,helvetica;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    margin: 0 0 18px 0;
    font-family: arial,helvetica;
}


/* Animations */
	/* Common styles
	* --------------------------------------- */
	img{
	    -webkit-transition: all 0.4s ease-out;
		-moz-transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		transition: all 0.4s ease-out;
	}
	.section{
		text-align:center;
		overflow:hidden;
	}
	.wrap{
		width: 1180px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.box{
		text-align: left;
		color: #808080;
		font-size: 1.2em;
		line-height: 1.6em;
	}

    	/* Section 0
	* --------------------------------------- */
	#section0{
		padding: 60px 0;
	}
	#section0 img{
		height: 100%;
		margin: 40px 0 0 0;
	}



#text02 {
    margin-top:70%;
    opacity:0;
}

#text02.active {
    margin-top:10%;
    opacity:1;
}