/* Typeface -- webfonts */

@font-face {
    font-family: "HelveticaNeueW01-Thin";
    src: url("../assets/fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
    src: url("../assets/fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"), url("../assets/fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2") format("woff2"), url("../assets/fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"), url("../assets/fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"), url("../assets/fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}


@font-face {
    font-family: "HelveticaNeueW01-45Ligh";
    src: url("../assets/fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
    src: url("../assets/fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"), url("../assets/fonts/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2") format("woff2"), url("../assets/fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("../assets/fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), url("../assets/fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

@font-face {
    font-family: "HelveticaNeueW01-65Med";
    src: url("../assets/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
    src: url("../assets/fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"), url("../assets/fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"), url("../assets/fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("../assets/fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"), url("../assets/fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {
    border: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*	Typography styles
	------------------	*/


.large, h1 {
    font-family: 'HelveticaNeueW01-45Ligh';
    font-size: 68px;
    line-height: 72px;
    color: #fff;
}


body {
    font-family: 'HelveticaNeueW01-Thin';
    font-size: 18px;
    background-image: url(../assets/image/sky_new.jpg);
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


p {
    font-family: 'HelveticaNeueW01-Thin';
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1.25px;
    color: #fff;
}

.bold {
    font-family: 'HelveticaNeueW01-65Med';
}

/* Mobile first queries */


/* ---- content layout --------*/

img {
    display: block;
}

.top-bar {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 30px 30px;
    overflow: auto;
    z-index: 999;

    img {
        display: inline;
        float: right;
        width: 120px;
        height: auto;
    }
}

/*  .main-container {
    margin: 0,auto;
    width: 100%;
    height: 100%;
    //background: url(../assets/image/sky.jpg) center center no-repeat;
    background-size: cover;
    position: fixed;
    overflow: auto;
  }*/

.tile {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    //background-color: rgba(12,49,92,0.5);
    overflow: hidden;
    text-align: center;
}

.text {
    position: absolute;
    display: inline-block;
    top: 200%;
    //left: 50%;
    //width: 50%;
    height: auto;
    overflow: visible;
    //background: #ff2200;
}

.align-bottom {
    margin: 0, auto;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
    z-index: 200;
}

.button {
    margin: 0, auto;
    width: 320px;
    min-height: 58px;
    border: 1px solid rgba(255,255,255,1.0);
    font-family: 'HelveticaNeueW01-Thin';
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background: none;
    transition: all 0.2s ease 0s;
    display: inline-block;
    opacity:0;
}



.button:hover {
    border: 1px solid rgba(255,255,255,0);
    //border: 1px solid rgba(4,36,66,1.0);
    background: rgba(4,36,66,0.8);
}

a {
    text-decoration: none;
}

/*.menu1 {
    top: 10%;
}*/

/* -------------------------

layout for section 1: intro

---------------------------- */

#block-1 {

    .text-1 {
        @extend .text;
        left: 50%;
        width: 50%;
        max-width: 653px;
        max-height: 398px;
        margin: -120px 0 0 -170px;
    }

    .button-bottom {
        margin: 0, auto;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
        z-index: 300;
        text-align: center;
        //background: #ff2200;
    }

  /*  .button {
        position: absolute;
        bottom: 100px;
        z-index: 600;
    }*/



    .trees-left {
        position: relative;
        float: left;
        margin: 0,auto;
        height: 100%;
        width: 50%;
        left: 0%;

        img {
            position: absolute;
            bottom: 0;
        }

        .tree-1 {
            position: absolute;
            bottom: 0;
            left: -50%;
            height: 100%;
            width: 28%;
            z-index: 220;
        }

        .tree-2 {
            position: absolute;
            bottom: 0;
            left: -50%;
            height: 80%;
            width: 20%;
            z-index: 210;
        }

        .tree-3 {
            position: absolute;
            bottom: 0;
            left: -50%;
            height: 100%;
            width: 28%;
            z-index: 220;
        }
    }

    .trees-right {
        position: relative;
        float: right;
        margin: 0,auto;
        height: 100%;
        width: 40%;

        img {
            position: absolute;
            bottom: 0;
        }

        .tree-4 {
            position: absolute;
            bottom: 0;
            right: -120%;
            height: 100%;
            width: 28%;
            z-index: 220;
        }

        .tree-5 {
            position: absolute;
            bottom: 0;
            right: -120%;
            height: 100%;
            width: 33%;
            z-index: 210;
        }
    }

    .snowflake-1 {
        position: absolute;
        top: -20%;
        left: 10%;
        z-index: 600;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .snowflake-2 {
        position: absolute;
        top: -20%;
        left: 25%;
        z-index: 600;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .snowflake-3 {
        position: absolute;
        top: -20%;
        right: 30%;
        z-index: 600;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .snowflake-4 {
        position: absolute;
        top: -20%;
        right: 15%;
        z-index: 600;

        img {
            width: 48px;
            height: 48px;
        }
    }
}

/* -------------------------

layout for section 2: text block

---------------------------- */


#block-2 {

    .text-2 {
        @extend .text;
        left: 50%;
        width: 50%;
        max-width: 653px;
        margin: -90px 0 0 -270px;

        img {
            margin-left: -300px;
        }
    }

    .align-bottom {
        text-align: center;
        height: 200px;
    }

    .snowflake-1 {
        position: absolute;
        top: -20%;
        left: 30%;
        z-index: 600;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .snowflake-2 {
        position: absolute;
        top: -20%;
        right: 40%;
        z-index: 600;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .snowflake-3 {
        position: absolute;
        top: -20%;
        right: 25%;
        z-index: 600;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .snowflake-4 {
        position: absolute;
        top: -20%;
        left: 10%;
        z-index: 600;

        img {
            width: 48px;
            height: 48px;
        }
    }
}

/* -------------------------

layout for section 3: text block

---------------------------- */


#block-3 {

    .text-3 {
        @extend .text;
        left: 50%;
        //width: 60.5%;
        width: 300px;
        //display: inline-block;
        //padding-right: 2%;
        //margin-right: -175px;;
        //right: 50%;
        //right: calc(50% - 10%);
        //max-width: 653px;
        margin: 0 0 0 -140px;
        //background: #ff2200;

        img {
            float: right;
            //margin-right: 140px;
        }
    }

    .align-bottom {
        text-align: center;
        height: 200px;
    }

    .snowflake-1 {
        position: absolute;
        top: -20%;
        left: 10%;
        z-index: 600;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .snowflake-2 {
        position: absolute;
        top: -20%;
        left: 25%;
        z-index: 600;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .snowflake-3 {
        position: absolute;
        top: -20%;
        left: 35%;
        z-index: 600;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .snowflake-4 {
        position: absolute;
        top: -20%;
        right: 25%;
        z-index: 600;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .snowflake-5 {
        position: absolute;
        top: -20%;
        right: 5%;
        z-index: 600;

        img {
            width: 32px;
            height: 32px;
        }
    }

}


/* --------------------------------------

layout for section 4: Building & GIFs

--------------------------------------- */


#block-4 {
    /*.text-3 {
    @extend .text;
    max-width: 653px;
    max-height: 398px;
    margin: -90px 0 0 -170px;
  }*/
    overflow: visible;



    .container-scene {
        position: relative;
        margin: 0, auto;
        width: 100%;
        text-align: center;
    }

    .align-bottom {
        height: 15%;
        max-height: 220px;
        background: none;
    }

    .trees-left {
        position: relative;
        float: left;
        margin: 0,auto;
        height: 100%;
        width: 30%;

        img {
            position: absolute;
            bottom: 0;
        }

        .tree-1 {
            position: absolute;
            bottom: 0;
            left: 20%;
            height: 100%;
            width: 33.33333%;
            z-index: 220;
        }

        .tree-2 {
            position: absolute;
            bottom: 0;
            left: 45%;
            height: 100%;
            width: 33.33333%;
            z-index: 210;
        }

        .tree-3 {
            position: absolute;
            bottom: 0;
            left: 70%;
            height: 100%;
            width: 33.33333%;
            z-index: 220;
        }
    }


    .trees-right {
        position: relative;
        float: right;
        margin: 0,auto;
        height: 100%;
        width: 20%;

        img {
            position: absolute;
            bottom: 0;
        }

        .tree-4 {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 50%;
            z-index: 220;
        }

        .tree-5 {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 50%;
            z-index: 210;
        }
    }

    .container-building {
        position: relative;
        display: inline-block;
        margin: 0, auto;
        margin-top: 100px;
        width: 80%;
        max-width: 1100px;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;


        .building-roof {
            width: 100%;
            height: 47px;

            img {
                position: absolute;
                bottom: 0;
            }
        }

        .roof-left {
            position: relative;
            float: left;
            margin: 0,auto;
            height: 100%;
            width: 50%;
            overflow: hidden;

            img {
                width: auto;
                height: 47px;
            }
        }

        .building-tower {
            width: 100%;
            height: 180px;

            img {
                position: absolute;
                bottom: 0;
            }

            .roof-tower {
                position: relative;
                float: right;
                margin: 0,auto;
                width: 50%;
                height: 100%;

                img {
                    //display: inline-block;
                    //float: right;
                    width: auto;
                    height: 100%;
                }
            }
        }

        .roof-right {
            position: relative;
            float: right;
            margin: 0,auto;
            height: 100%;
            width: 50%;
            overflow: hidden;
            padding-right: 10px;

            img {
                width: auto;
                height: 47px;
                position: absolute;
                right: 0;
            }
        }

        .building-floors {
            width: auto;
            background-color: #7a7d81;
            overflow: auto;
            text-align: center;
            margin: 0, auto;
            margin-left: 12px;
            margin-right: 16px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;

            .center-me {
                position: relative;
                max-width: calc(100% - 20px);
                display: inline-block;
            }
        }
    }

    .building-bottom {
        width: 97.5%;
        height: 190px;
        background: #7a7d81;
        margin-left: 12px;
        margin-right: 116px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        img {
            position: absolute;
            bottom: 0;
        }
    }


    .door {
        float: right;
        width: 35%;
        height: 100%;
        overflow: hidden;

        img {
            float: left;
        }
    }

    .mountains {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 800px;
        width: 100%;
        z-index: -1;
        background: url(../assets/image/mountains.svg) center bottom no-repeat;
        background-size: cover;
    }

    .container-ground {
        position: relative;
        margin: 0, auto;
        width: 100%;
        height: 100%;
        max-height: 700px;
        background: #2c313b;
        text-align: center;
    }

    .snowman {
        position: absolute;
        top: -80px;
        left: 60px;
        z-index: 600;

        img {
            width: auto;
            height: 240px;
        }
    }

    .gift {
        position: absolute;
        top: 120px;
        left: 140px;
        z-index: 601;

        img {
            width: auto;
            height: 180px;
        }
    }

    .sled {
        position: absolute;
        top: 160px;
        right: 2%;
        z-index: 188;

        img {
            width: auto;
            height: 240px;
        }
    }

    .xmas-message {
        width: 60%;
        max-width: 850px;
        display: inline-block;
        margin: 60px 20px 20px 20px;

        p {
            padding: 30px 100px 0px 100px;
        }

        img {
            display: inline-block;
            width: auto;
            height: 180px;
            margin: 30px 0px 20px 65px;
        }
    }
    /* ----- GIFs ----------- */
    .gif-container {
        width: 200px;
        height: 160px;
        float: left;
        margin: 30px;
        background-color: #bbb;
        border: 2px solid #2c313b;
    }

    .gf {
        width: 400px;
        height: 160px;
    }

    .empty-window {
        background: url(../assets/image/windowEmpty.png) center center no-repeat;
        background-size: cover;
    }
}


/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
//@media (min-width: 750px) { }


// GIF's do not need to be in a media query
#gif-01 {
    background: url(../assets/image/gifs/01.gif) center center no-repeat;
    background-size: cover;
}


#gif-02 {
    background: url(../assets/image/gifs/02.gif) center center no-repeat;
    background-size: cover;
}

#gif-03 {
    background: url(../assets/image/gifs/03.gif) center center no-repeat;
    background-size: cover;
}

#gif-04 {
    background: url(../assets/image/gifs/04.gif) center center no-repeat;
    background-size: cover;
}

#gif-05 {
    background: url(../assets/image/gifs/05.gif) center center no-repeat;
    background-size: cover;
}


#gif-06 {
    background: url(../assets/image/gifs/06.gif) center center no-repeat;
    background-size: cover;
}


#gif-07 {
    background: url(../assets/image/gifs/07.gif) center center no-repeat;
    background-size: cover;
}

#gif-08 {

}

#gif-08.active {
    background: url(../assets/image/gifs/08.gif) center center no-repeat;
    background-size: cover;
}

#gif-09 {

}

#gif-09.active {
    background: url(../assets/image/gifs/09.gif) center center no-repeat;
    background-size: cover;
}

#gif-10 {

}

#gif-10.active {
    background: url(../assets/image/gifs/10.gif) center center no-repeat;
    background-size: cover;
}

#gif-11 {

}

#gif-11.active {
    background: url(../assets/image/gifs/11.gif) center center no-repeat;
    background-size: cover;
}

#gif-12 {

}

#gif-12.active {
    background: url(../assets/image/gifs/12.gif) center center no-repeat;
    background-size: cover;
}

#gif-13 {

}

#gif-13.active {
    background: url(../assets/image/gifs/13.gif) center center no-repeat;
    background-size: cover;
}

#gif-14 {

}

#gif-14.active {
    background: url(../assets/image/gifs/14.gif) center center no-repeat;
    background-size: cover;
}

#gif-15 {

}

#gif-15.active {
    background: url(../assets/image/gifs/15.gif) center center no-repeat;
    background-size: cover;
}

#gif-16 {

}

#gif-16.active {
    background: url(../assets/image/gifs/16.gif) center center no-repeat;
    background-size: cover;
}

#gif-17 {

}

#gif-17.active {
    background: url(../assets/image/gifs/17.gif) center center no-repeat;
    background-size: cover;
}

#gif-18 {

}


#gif-18.active {
    background: url(../assets/image/gifs/18.gif) center center no-repeat;
    background-size: cover;
}

#gif-19 {

}

#gif-19.active {
    background: url(../assets/image/gifs/19.gif) center center no-repeat;
    background-size: cover;
}

#gif-20 {

}

#gif-20.active {
    background: url(../assets/image/gifs/20.gif) center center no-repeat;
    background-size: cover;
}

#gif-21 {

}

#gif-21.active {
    background: url(../assets/image/gifs/21.gif) center center no-repeat;
    background-size: cover;
}

#gif-22 {

}

#gif-22.active {
    background: url(../assets/image/gifs/22.gif) center center no-repeat;
    background-size: cover;
}


#gif-23 {

}

#gif-23.active {
    background: url(../assets/image/gifs/23.gif) center center no-repeat;
    background-size: cover;
}



#gif-24 {

}

#gif-24.active {
    background: url(../assets/image/gifs/24.gif) center center no-repeat;
    background-size: cover;
}


/*JPgs*/

.jpg-01 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-02 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-03 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-04 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-05 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-06 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-07 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-08 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-09 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-10 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-11 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-12 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-13 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-14 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-15 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-16 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-17 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-18 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-19 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-20 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-21 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-22 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-23 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}

.jpg-24 {
    background: url(../assets/image/jpg/01.jpg) center center no-repeat;
    background-size: cover;
}


/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
